@tailwind base;
@tailwind components;
@tailwind utilities;


.form-container {
    max-width: 1000px; /* Ajuste a largura conforme necessário */
    margin: 10em auto;
    padding: 50px;
    /* background-color: #bdbbbb; */
    border-radius: 4px;
    /* box-shadow: 0 2px 5px 5px grey;
    border-radius: 25px; */
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-row label {
    font-weight: bold;
    margin-right: 10px;
    flex-basis: 140px;
  }

  .form-row input,
  .form-row select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  .form-row input[type="submit"] {
    background-color: #4285f4;
    color: white;
    cursor: pointer;
  }

  .form-row input[type="submit"]:hover {
    background-color: #3367d6;
  }

  span {
    margin: 0 5px;
  }

  .notification-badge {
    position: absolute;
    top: 40px; /* Ajuste a posição vertical conforme necessário */
    right: 600px; /* Ajuste a posição horizontal conforme necessário */
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 17px; /* Largura da bolha de notificação */
    height: 17px; /* Altura da bolha de notificação */
    text-align: center;
    font-size: 12px; /* Tamanho da fonte do número de notificação */
    line-height: 15px; /* Altura da linha igual à altura da bolha de notificação para centralização vertical */
}